#
# Copyright (C) 2023 AuxXxilium <https://github.com/AuxXxilium> and Ing <https://github.com/wjz304>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#

name: Build Arc Dev

on:
  workflow_dispatch:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          swap-storage: false

      # Install Dependencies
      - name: Install Dependencies
        run: |
          git config --global user.email "info@auxxxilium.tech"
          git config --global user.name "AuxXxilium"
          sudo timedatectl set-timezone "Europe/Berlin"

          sudo apt update
          sudo apt install -y jq gawk cpio gettext libelf-dev qemu-utils busybox dialog curl sed 
          sudo snap install yq

      # calculates the version number and push
      - name: Calculate Version
        run: |
          # Calculate Version
          VERSION="`date +'%y.%-m'`.dev"

          echo "Version: ${VERSION}"
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

          if [ -n "${VERSION}" ]; then
            # Modify Source File
            echo "${VERSION}" >VERSION
            echo "${VERSION}" >files/p1/ARC-VERSION
            sed 's/^ARC_VERSION=.*/ARC_VERSION="'${VERSION}'"/' -i files/initrd/opt/arc/include/consts.sh
          fi

      # Get extractor, LKM, Addons, Modules, Theme and Configs
      - name: Get extractor, LKM, Addons, Modules, Theme and Configs
        run: |
          . scripts/func.sh

          getLKMs "files/p3/lkms"
          getAddons "files/p3/addons"
          getModules "files/p3/modules"
          getConfigs "files/p3/configs"
          getPatches "files/p3/patches"
          getTheme "files/p1/boot/grub"
          getOffline "files/p3/configs"
          getBuildroot "latest" "brx"
          echo "BR_XVERSION=${TAG}" >> $GITHUB_ENV
          getBuildroot "stable" "brs"
          echo "BR_SVERSION=${TAG}" >> $GITHUB_ENV
          echo "BUILD_TIME=$(date +'%Y-%m-%d %H:%M')" >> $GITHUB_ENV

          echo "OK"

      # Build incremental
      - name: Build Image X
        run: |
          . scripts/func.sh

          if [ -n "${VERSION}" ]; then
            # Modify Source File
            echo "${VERSION}x" >VERSION
            echo "${VERSION}x" >files/p1/ARC-VERSION
            sed 's/^ARC_VERSION=.*/ARC_VERSION="'${VERSION}x'"/' -i files/initrd/opt/arc/include/consts.sh
          fi

          echo "Create Arc Image"
          IMAGE_FILE="arc-x.img"
          gzip -dc "files/initrd/opt/arc/grub.img.gz" >"${IMAGE_FILE}"
          fdisk -l "${IMAGE_FILE}"
          
          LOOPX=$(sudo losetup -f)
          sudo losetup -P "${LOOPX}" "${IMAGE_FILE}"

          echo "Mounting Image File"
          mkdir -p "/tmp/p1"
          mkdir -p "/tmp/p3"
          sudo mount ${LOOPX}p1 "/tmp/p1"
          sudo mount ${LOOPX}p3 "/tmp/p3"

          [ ! -f "brx/bzImage-arc" ] || [ ! -f "brx/initrd-arc" ] && return 1
          
          echo "Repack initrd"
          cp -f "brx/bzImage-arc" "files/p3/bzImage-arc"
          repackInitrd "brx/initrd-arc" "files/initrd" "files/p3/initrd-arc"

          echo "Copying files"
          sudo cp -Rf "files/p1/"* "/tmp/p1"
          sudo cp -Rf "files/p3/"* "/tmp/p3"
          sync

          echo "Unmount image file"
          sudo umount "/tmp/p1"
          sudo umount "/tmp/p3"
          rmdir "/tmp/p1"
          rmdir "/tmp/p3"

          sudo losetup --detach ${LOOPX}

          echo "Image Converter"
          qemu-img convert ${IMAGE_FILE} -O vmdk -o adapter_type=lsilogic arc-x-dyn.vmdk
          qemu-img convert ${IMAGE_FILE} -O vmdk -o adapter_type=lsilogic,subformat=monolithicFlat arc-x.vmdk
          qemu-img convert ${IMAGE_FILE} -O vhdx -o subformat=dynamic arc-x.vhdx

          echo "Create Arc ova"
          convertova "${IMAGE_FILE}" "arc-x.ova"

          # Zip update and generate checksum
          zip -9j update-x.zip "files/p3/bzImage-arc" "files/p3/initrd-arc" "files/p1/ARC-VERSION" "files/p1/boot/grub/grub.cfg"
          sha256sum update-x.zip >checksum-x.sha256

       # Build incremental
      - name: Build Image S
        run: |
          . scripts/func.sh

          if [ -n "${VERSION}" ]; then
            # Modify Source File
            echo "${VERSION}s" >VERSION
            echo "${VERSION}s" >files/p1/ARC-VERSION
            sed 's/^ARC_VERSION=.*/ARC_VERSION="'${VERSION}s'"/' -i files/initrd/opt/arc/include/consts.sh
          fi

          echo "Create Arc Image"
          IMAGE_FILE="arc-s.img"
          gzip -dc "files/initrd/opt/arc/grub.img.gz" >"${IMAGE_FILE}"
          fdisk -l "${IMAGE_FILE}"
          
          LOOPX=$(sudo losetup -f)
          sudo losetup -P "${LOOPX}" "${IMAGE_FILE}"

          echo "Mounting Image File"
          mkdir -p "/tmp/p1"
          mkdir -p "/tmp/p3"
          sudo mount ${LOOPX}p1 "/tmp/p1"
          sudo mount ${LOOPX}p3 "/tmp/p3"

          [ ! -f "brs/bzImage-arc" ] || [ ! -f "brs/initrd-arc" ] && return 1
          
          echo "Repack initrd"
          cp -f "brs/bzImage-arc" "files/p3/bzImage-arc"
          repackInitrd "brs/initrd-arc" "files/initrd" "files/p3/initrd-arc"

          echo "Copying files"
          sudo cp -Rf "files/p1/"* "/tmp/p1"
          sudo cp -Rf "files/p3/"* "/tmp/p3"
          sync

          echo "Unmount image file"
          sudo umount "/tmp/p1"
          sudo umount "/tmp/p3"
          rmdir "/tmp/p1"
          rmdir "/tmp/p3"

          sudo losetup --detach ${LOOPX}

          echo "Image Converter"
          qemu-img convert ${IMAGE_FILE} -O vmdk -o adapter_type=lsilogic arc-s-dyn.vmdk
          qemu-img convert ${IMAGE_FILE} -O vmdk -o adapter_type=lsilogic,subformat=monolithicFlat arc-s.vmdk
          qemu-img convert ${IMAGE_FILE} -O vhdx -o subformat=dynamic arc-s.vhdx

          echo "Create Arc ova"
          convertova "${IMAGE_FILE}" "arc-s.ova"

          # Zip update and generate checksum
          zip -9j update-s.zip "files/p3/bzImage-arc" "files/p3/initrd-arc" "files/p1/ARC-VERSION" "files/p1/boot/grub/grub.cfg"
          sha256sum update-s.zip >checksum-s.sha256

      # Zip image and generate checksum
      - name: Pack
        run: |
          if [ -n "${{ env.VERSION }}" ]; then
            # XBase
            zip -9 "arc-x-${{ env.VERSION }}.img.zip" arc-x.img
            zip -9 "arc-x-${{ env.VERSION }}.vmdk-dyn.zip" arc-x-dyn.vmdk
            zip -9 "arc-x-${{ env.VERSION }}.vmdk-flat.zip" arc-x.vmdk arc-x-flat.vmdk
            zip -9 "arc-x-${{ env.VERSION }}.vhdx.zip" arc-x.vhdx
            zip -9 "arc-x-${{ env.VERSION }}.ova.zip" arc-x.ova
            # SBase
            zip -9 "arc-s-${{ env.VERSION }}.img.zip" arc-s.img
            zip -9 "arc-s-${{ env.VERSION }}.vmdk-dyn.zip" arc-s-dyn.vmdk
            zip -9 "arc-s-${{ env.VERSION }}.vmdk-flat.zip" arc-s.vmdk arc-s-flat.vmdk
            zip -9 "arc-s-${{ env.VERSION }}.vhdx.zip" arc-s.vhdx
            zip -9 "arc-s-${{ env.VERSION }}.ova.zip" arc-s.ova
          fi
          echo "${{ inputs.update_version }}" >check.update

      # Publish a release if is a tag
      - name: Release
        if: success() && env.VERSION != ''
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.VERSION }}
          prerelease: true
          makeLatest: ${{ inputs.latest }}
          allowUpdates: true
          body: |
            ### Information:
            Notice: ${{ inputs.notice }}
            Buildtime: ${{ env.BUILD_TIME }}
            
            - Full Changelog and Arc Patch (Decryption Key) can be found in my Discord.
            - Version:
              - X Version: Latest Buildroot System (incl. Hyper-V and XEN (still in testing))
              - S Version: Stable Buildroot System (For the most Systems)

            ### Versions:
            Addons: ${{ env.ADDONSTAG }}
            Configs: ${{ env.CONFIGSTAG }}
            Modules: ${{ env.MODULESTAG }}
            Patches: ${{ env.PATCHESTAG }}
            Theme: ${{ env.THEMETAG }}
            LKM: ${{ env.LKMTAG }}
            Buildroot:
              X Version: ${{ env.BR_XVERSION }}
              S Version: ${{ env.BR_SVERSION }}
          artifacts: |
            arcx-*.zip
            update-x.zip
            update-s.zip
            checksum-x.sha256
            checksum-s.sha256
            check.update